<h1>Create a new Landmark</h1>
<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" id="landmark_name" value="Landmark's Name">
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="Year Completed">
  <input type="submit" value="Create New Landmark">

</form>
